<mat-toolbar class="toolbar" color="primary">
  <span>Task Manager</span>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="container">
<div class="left-panel" fxFlex="1 1 20%">
<mat-list>
 <mat-list-item><button style="width:100%;" mat-button routerLink="/tasks">Задачи</button></mat-list-item>
 <mat-list-item><button style="width:100%;" mat-button routerLink="/statuses">Статусы</button></mat-list-item>
</mat-list>
</div>
<div class="content" fxFlex="1 1 80%"><router-outlet></router-outlet></div>
</div>